/*Para aprender como modificar los contenedores flex en: https://www.w3schools.com/css/css3_flexbox_container.asp*/

:root{/*Variables fusiladas de la identidad visual*/
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}

.navbar-brand{
    margin: 15px;
}

.navbar{
    background-color: black;
 }
 .navbar-brand{
    color:var(--blanquino);
 }
 .nav-link{
    color:var(--blanquino);
 }
 .navbar-brand:hover{
    color:var(--rojo);
 }
.nav-link:hover{
     color:black;
     background-color: #f5f3ec;
     border-radius: 10px;
}
#logo-muso:hover{
    transform: scale(1.3);
}
#logo-carrito:hover{
    transform: scale(1.5);
}
.btn{
    background-color: #2C2C2C;
    color: var(--blanquino);
    font-family: var(--Tittle-and-subtitles);
    margin: 10px;
 }
 #btn-Log-in{
    background-color: #D9D9D9;
    color: black;
 }

 .btn:hover{
    background-color: #D9D9D9;
    color: var(--rojo);
 }
 #btn-Log-in:hover{
    background-color: var(--rojo);
    color: var(--blanquino);
 }
 .navbar-toggler:hover{
    color: var(--blanquino);
    background-color: var(--rojo);
 }