:root{/*Variables fusiladas de la identidad visual*/
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}
body{
    background-color: white;
}
.contenedor-cultura{
    background-color: var(--rojo);
    width: 100%;
    margin: auto;
}
.contenedor-central{
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: left;
    font-family: var(--Tittle-and-subtitles);
    padding: 2rem;
}
.carrusel-1{
    width: 100%;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--gris);
}
.carrusel-texto-1{
    font-family: var(--Content);
    margin-top: 1rem;
    text-align: justify;
}
.carrusel-texto{
    box-shadow: 0 4px 8px var(--gris);
    font-family: var(--Content);
    margin-top: 1rem;
    text-align: justify;
    padding: 2rem;
}
#carrusel-2{
    margin-top: 1rem;
}
 /* CARDS */
    .museo-card {
      height: 200px;
      border-radius: 25px;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease;
      margin-top: 1rem;
    }

    .museo-card img {
      height: 100%;
      object-fit: cover;
    }
    #carrusel-4 {
        margin-top: 1rem ;
        
    }
    .carrusel-5 {
        margin-top: 1rem ;
        box-shadow: 0 4px 8px var(--gris);
        border-radius: 25px;
        padding: 1rem;
    }
    h4 {
        font-family: var(--Tittle-and-subtitles);
        text-align: center;
        margin-bottom: 1rem;
    }
    .museo-card-5 {
      height: 120px;
      border-radius: 25px;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease;
    }